@tailwind base;
@tailwind components;
@tailwind utilities;
/* Theme colors */
:root {
  --primary-green: #72c1a4;
  --secondary-purple: #782082;
  --primary-white: #ffffff;
}

/* Header and Footer Styling */
.header,
.footer {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

/* Link Styles */
a {
  color: var(--primary-green);
}

/* Button Styles */
button {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

button:hover {
  background-color: #4fa083;
}

button.secondary {
  background-color: var(--secondary-purple);
  color: var(--primary-white);
}

button.secondary:hover {
  background-color: #681471;
}

/* Main Content Styles */
.container {
  color: #333333;
}

input[type="file"],
input[type="text"] {
  /* border-color: var(--primary-green); */
}

input[type="file"]:focus,
input[type="text"]:focus {
  border-color: #4fa083;
  box-shadow: 0 0 0 1px #4fa083;
}
